{% load i18n %}

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">{% translate 'Assets by region' %}</div>
            <div class="panel-body">
                <figure class="highcharts-figure">
                    <div id="asset_chart_regions"></div>
                </figure>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">{% translate 'Assets by solar system' %}</div>
            <div class="panel-body">
                <figure class="highcharts-figure">
                    <div id="asset_chart_solar_systems"></div>
                </figure>
            </div>
        </div>
    </div>
</div>

<script type="application/javascript">
    Highcharts.setOptions({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: null,
        tooltip: {
            pointFormat: '{series.name}: <b>{point.y:.2f} B ISK</b>'
        },
        accessibility: {
            point: {
                valueSuffix: 'B'
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.y:.1f}'
                }
            }
        },
        subtitle: {
            text: "Total value by location in billion ISK"
        }
    });
    $.get('{% url "memberaudit:character_asset_chart_regions_data" character.pk %}', function(data) {
        Highcharts.chart('asset_chart_regions', {
            series: [{
                name: 'Regions',
                colorByPoint: true,
                data: data
            }]
        });
    });

    $.get('{% url "memberaudit:character_asset_chart_solar_systems_data" character.pk %}', function(data) {
        Highcharts.chart('asset_chart_solar_systems', {
            series: [{
                name: 'Solar Systems',
                colorByPoint: true,
                data: data
            }]
        });
    });
</script>
