{% load i18n %}
{% load humanize %}

<div role="tabpanel" class="tab-pane" id="assets">
    <div class="table-responsive">
        <table class="table table-striped" id="tab_assets" style="width:100%;">
            <thead>
                <tr>
                    <th>Location</th>
                    <th>Name</th>
                    <th>Qty</th>
                    <th>Group</th>
                    <th>Volume (m3)</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>

            <tbody></tbody>

            <tfoot>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>Grand Total:</th>
                <th></th>
                <th></th>
            </tfoot>
        </table>
    </div>

    <p class="text-muted">Last updated: {{ last_updates.assets|naturaltime }}</p>
    <p class="text-muted">Prices are average market prices.</p>
</div>
