{% load i18n %}

<div role="tabpanel" class="tab-pane" id="assets">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active"><a href="#assets_overview">Overview</a></li>
                <li role="presentation"><a href="#assets_browser">Browser</a></li>
                <li role="presentation"><a href="#assets_search">Search</a></li>
            </ul>
        </div>
        <div class="col-md-10" id="div_assets_main">
        </div>
    </div>
</div>
