{% load i18n %}
{% load humanize %}

<div role="tabpanel" class="tab-pane" id="contacts">
    <div class="table-responsive">
        <table class="table table-striped" id="tab_contacts" style="width:100%;">
            <thead>
                <tr>
                    <th>{% translate 'Standing' %}</th>
                    <th>{% translate 'Name' %}</th>
                    <th>{% translate 'Type' %}</th>
                    <th>{% translate 'Standing Value' %}</th>
                    <th>{% translate 'Watched?' %}</th>
                    <th>{% translate 'Blocked?' %}</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>
    <p class="text-muted">{% translate 'Last updated:' %} {{ last_updates.contacts|naturaltime }}</p>
</div>
