{% load i18n %}
{% load humanize %}

<div role="tabpanel" class="tab-pane" id="doctrines">
    <div class="table-responsive">
        <table class="table table-striped" id="tab_doctrines" style="width:100%;">
            <thead>
                <tr>                    
                    <th>{% translate 'Doctrine' %}</th>                    
                    <th>{% translate 'Ship' %}</th>
                    <th>{% translate 'Can Fly?' %}</th>
                    <th>{% translate 'Insufficient Skills' %}</th>                    
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <p class="text-muted">{% translate 'Last updated:' %} {{ last_updates.doctrines|naturaltime }}</p>
</div>
