{% load i18n %}

<div role="tabpanel" class="tab-pane" id="roles">
    <div class="table-responsive">
        <table class="table table-striped table-width-fix" id="tab_roles">
            <thead>
                <tr>
                    <th>{% translate 'Role' %}</th>
                    <th>{% translate 'Universal' %}</th>
                    <th>{% translate 'Headquarters' %}</th>
                    <th>{% translate 'Base' %}</th>
                    <th>{% translate 'Other' %}</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>
    {% include 'memberaudit/partials/character_viewer/tabs/last_updated.html' with update_section=last_updates.roles %}
</div>
