{% load i18n %}
{% load humanize %}

<!-- Wallet -->
<div role="tabpanel" class="tab-pane" id="wallet">
    {% if not character.has_wallet_journal %}
        <p>No data yet...</p>
    {% else %}
        <div class="table-responsive">
            <table class="table table-striped" id="tab_wallet" style="width:100%;">
                <thead>
                    <tr>
                        <th>{% translate 'Date' %}</th>
                        <th>{% translate 'Type' %}</th>
                        <th>{% translate 'First party' %}</th>
                        <th>{% translate 'Second party' %}</th>
                        <th>{% translate 'Amount' %}</th>
                        <th>{% translate 'Balance' %}</th>
                        <th>{% translate 'Description' %}</th>
                    </tr>
                </thead>

                <tbody></tbody>
            </table>
        </div>

        <p class="text-muted">Last updated: {{ last_updates.wallet_journal|naturaltime }}</p>
    {% endif %}
</div>
