@media all {
    /* dl styling */
    .dl-horizontal dt {
        text-align: left;
    }

    /* Style group headers */
    .template-light-mode .table > tbody > .table-group > td {
        background-color: dimgrey;
        color: white;
        font-weight: bold;
    }

    .template-dark-mode .table > tbody > .table-group > td {
        background-color: dimgrey;
        color: white;
        font-weight: bold;
    }

    /* Breadcrumbs */
    .template-light-mode .breadcrumb >.active {
        color: black;
        font-weight: bold;
    }
    .template-dark-mode .breadcrumb >.active {
        color: white;
        font-weight: bold;
    }

    /* Assets */    
    #tab_assets tbody td:nth-child(3) {
        text-align: right;
    }
    #tab_assets tbody td:nth-child(5) {
        text-align: right;
    }

    /* Wallet */    
    #tab_wallet tbody td:nth-child(5) {
        text-align: right;
    }

    #tab_wallet tfoot td:nth-child(5) {
        text-align: right;
    }
    
    #tab_wallet tbody td:nth-child(6) {
        text-align: right;
    }

    #tab_wallet tfoot td:nth-child(6) {
        text-align: right;
    }

    /* paddings */
    #mainColumnLeft {
        padding-left: 0;
        padding-right: 8px;
    }

    #mainColumnRight {
        padding-right: 0;
    }

    .table-memberaudit-skillqueue .active-skill {
        font-weight: bold;
    }

    .sidebar_characters {
        margin: 0.4em;
    }
}
