@media all {
    /* dl styling */
    .dl-horizontal dt {
        text-align: left;
    }
    
    /* Breadcrumbs */
    .template-light-mode .breadcrumb >.active {
        color: rgb(0, 0, 0);
        font-weight: bold;
    }
    .template-dark-mode .breadcrumb >.active {
        color: rgb(255, 255, 255);
        font-weight: bold;
    }

    /* Assets */
    #tab_assets tbody td:nth-child(3) {
        text-align: right;
    }
    #tab_assets tbody td:nth-child(5) {
        text-align: right;
    }

    /* Wallet */
    #tab_wallet tbody td:nth-child(5) {
        text-align: right;
    }

    #tab_wallet tfoot td:nth-child(5) {
        text-align: right;
    }

    #tab_wallet tbody td:nth-child(6) {
        text-align: right;
    }

    #tab_wallet tfoot td:nth-child(6) {
        text-align: right;
    }

    /* paddings */
    #mainColumnLeft {
        padding-left: 0;
        padding-right: 8px;
    }

    #mainColumnRight {
        padding-right: 0;
    }

    .table-memberaudit-skillqueue .active-skill {
        font-weight: bold;
    }

    .sidebar_characters {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .sidebar_character {
        margin: 0.2rem 0;
    }

    .sidebar_character > a {
        display: block;
        padding: 0.2rem 0.4rem;
        text-decoration: none;
    }

    .template-light-mode .sidebar_character:hover > a {
        background-color: rgb(236, 240, 241);
    }

    .template-dark-mode .sidebar_character:hover > a {
        background-color: rgb(34, 34, 34);
    }

    #history_divider {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
