{% load i18n %}
{% load humanize %}

<div role="tabpanel" class="tab-pane" id="contracts">
    <div class="table-responsive">
        <table class="table table-striped" id="tab_contracts" style="width:100%;">
            <thead>
                <tr>
                    <th>Contract</th>
                    <th>Type</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Status</th>
                    <th>Date Issued</th>
                    <th>Time Left</th>
                    <th>Info</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <p class="text-muted">Last updated: {{ last_updates.contracts|naturaltime }}</p>
</div>
