{% load i18n %}
{% load humanize %}

<div role="tabpanel" class="tab-pane" id="mail">
    {% if not character.has_mails %}
        <p>No data yet...</p>
    {% else %}
        <div class="row">
            
            <!-- Mail Labels -->
            <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked">
                    {% for item in mail_labels|dictsort:"label_id" %}
                        <li role="presentation" class="pillMailLabel{% if item.label_id == 1%} active{% endif %}" data-label-id="{{ item.label_id }}">
                            <a href="#">
                                {{ item.name }}
                                {% if item.unread_count_2 %}
                                    <span class="badge">{{ item.unread_count_2 }}</span>
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                    <hr>
                    {% for item in mailing_lists|dictsort:"name.lower" %}
                        <li role="presentation" class="pillMailLabel" data-list-id="{{ item.list_id }}">
                            <a href="#">
                                {{ item.name }}
                                {% if item.unread_count %}
                                    <span class="badge">{{ item.unread_count }}</span>
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            
            <!-- Mails for current label-->
            <div class="col-md-10">
                <div class="table-responsive">
                    <table class="table table-striped" id="tab_mails" style="width:100%;">
                        <thead>
                            <tr>
                                <th>sent</th>
                                <th>from</th>
                                <th>to</th>
                                <th>subject</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <p class="text-muted">Last updated: {{ last_updates.mails|naturaltime }}</p>
            </div>
        </div>        
    {% endif %}
</div>
