{% extends 'memberaudit/base.html' %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load evelinks %}

{% block details %}

    <div class="panel panel-default">        
        <div class="panel-body">            
                        
            <div class="rows">
                
                <div class="col-md-1">
                    <img src="{{ character|character_portrait_url:128 }}"/>
                </div>

                <div class="col-md-3">
                    <dl class="dl-horizontal">
                        <dt>Character</dt>
                        <dd>{{ character.character_name}}</dd>
                        <dt>Corporation</dt>
                        <dd>{{ character_details.corporation }}</dd>
                        <dt>Alliance</dt>
                        <dd>{{ character_details.alliance|default:"-" }}</dd>
                        <dt>Faction</dt>
                        <dd>{{ character_details.faction|default:"-" }}</dd>
                    </dl>
                </div>

                <div class="col-md-3">
                    <dl class="dl-horizontal">
                        <dt>Born</dt>
                        <dd>{{ character_details.birthday|naturalday }}</dd>
                        <dt>Skillpoints</dt>
                        <dd>{{ character.corporation_name }}</dd>
                        <dt>Wallet</dt>
                        <dd>{{ character.alliance_name }}</dd>
                        <dt>Sec. Status</dt>
                        <dd>{{ character_details.security_status|floatformat|default:"-" }}</dd>
                    </dl>
                </div>

                <div class="col-md-3">
                    <dl class="dl-horizontal">
                        <dt>System</dt>
                        <dd><div id="div_location">Loading...</div></dd>
                        <dt>Location</dt>
                        <dd>{{ character.corporation_name }}</dd>
                        <dt>Ship</dt>
                        <dd>{{ character.alliance_name }}</dd>
                        <dt>Race</dt>
                        <dd>{{ character_details.eve_bloodline.eve_race }} / {{ character_details.eve_bloodline }}</dd>
                    </dl>
                </div>

            </div>        

        </div>
    </div>

    <div class="panel panel-default">        
        <div class="panel-body">            
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#bio" aria-controls="bio" role="tab" data-toggle="tab">Bio</a></li>
                    <li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">Corporation History</a></li>
                    <li role="presentation" class="disabled"><a href="#clones" aria-controls="clones" role="tab" data-toggle="tab">Clones</a></li>
                    <li role="presentation" class="disabled"><a href="#skills" aria-controls="skills" role="tab" data-toggle="tab">Skills</a></li>
                    <li role="presentation" class="disabled"><a href="#skillqueue" aria-controls="skillqueue" role="tab" data-toggle="tab">Skillqueue</a></li>
                    <li role="presentation" class="disabled"><a href="#mail" aria-controls="mail" role="tab" data-toggle="tab">Mail</a></li>
                    <li role="presentation" class="disabled"><a href="#wallet" aria-controls="wallet" role="tab" data-toggle="tab">Wallet</a></li>
                    <li role="presentation" class="disabled"><a href="#contracts" aria-controls="contracts" role="tab" data-toggle="tab">Contracts</a></li>
                    <li role="presentation" class="disabled"><a href="#contacts" aria-controls="contacts" role="tab" data-toggle="tab">Contacts</a></li>
                    <li role="presentation" class="disabled"><a href="#assets" aria-controls="assets" role="tab" data-toggle="tab">Assets</a></li>
                </ul>
                <br>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="bio">{{ character_details.description_plain|default:"-" }}</div>
                    <div role="tabpanel" class="tab-pane" id="history">                        
                        <dl class="dl-horizontal">
                            {% for entry in corporation_history %}                                                     
                                <dt>{{ entry.corporation_html }}</dt>  
                                <dd>{{ entry.start_date|naturalday }} - {{ entry.end_date|naturalday }}</dd>
                            {% endfor %}              
                        </dl>      
                    </div>
                    <div role="tabpanel" class="tab-pane" id="clones">TBD</div>
                    <div role="tabpanel" class="tab-pane" id="skills">TBD</div>
                    <div role="tabpanel" class="tab-pane" id="skillqueue">TBD</div>
                    <div role="tabpanel" class="tab-pane" id="mail">TBD</div>
                    <div role="tabpanel" class="tab-pane" id="wallet">TBD</div>
                    <div role="tabpanel" class="tab-pane" id="contracts">TBD</div>
                    <div role="tabpanel" class="tab-pane" id="contacts">TBD</div>
                    <div role="tabpanel" class="tab-pane" id="assets">TBD</div>
                </div>
            </div>
        </div>
    </div>


{% endblock details %}

{% block extra_javascript %}
    <script>
        $(document).ready(function() {            
            $("#div_location").load (
                "{% url 'memberaudit:character_location_data' %}?character_id=" + {{ character.character_id }});
        
        });
    </script>
{% endblock extra_javascript %}

{% block extra_css %}
    <link href="{% static 'memberaudit/character_main.css' %}" type="text/css">
{% endblock extra_css %}

{% block extra_script %}    
{% endblock extra_script %}
