{% extends 'memberaudit/base.html' %}

{% load i18n %}
{% load static %}
{% load humanize %}
{% load evelinks %}

{% block details %}
    <div class="rows">
        <div class="col-md-2" id="mainColumnLeft">
            {% include 'memberaudit/partials/sidebar.html' %}
        </div>

        <!-- Main panel-->
        <div class="col-md-10" id="mainColumnRight">
            {% include 'memberaudit/partials/character_summary.html' %}

            <!-- Details sub panel -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div>
                        {% include 'memberaudit/partials/tabs_navigation.html' %}
                        <br>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            {% include 'memberaudit/partials/tab_panel_assets.html' %}
                            {% include 'memberaudit/partials/tab_panel_contacts.html' %}
                            {% include 'memberaudit/partials/tab_panel_character_bio.html' %}
                            {% include 'memberaudit/partials/tab_panel_contracts.html' %}
                            {% include 'memberaudit/partials/tab_panel_corporation_history.html' %}
                            {% include 'memberaudit/partials/tab_panel_doctrines.html' %}
                            {% include 'memberaudit/partials/tab_panel_jump_clones.html' %}
                            {% include 'memberaudit/partials/tab_panel_mails.html' %}
                            {% include 'memberaudit/partials/tab_panel_skills.html' %}
                            {% include 'memberaudit/partials/tab_panel_skill_queue.html' %}
                            {% include 'memberaudit/partials/tab_panel_wallet.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'memberaudit/modals/asset_container.html' %}
    {% include 'memberaudit/modals/contracts.html' %}
    {% include 'memberaudit/modals/mails.html' %}
{% endblock details %}

{% block extra_javascript %}
    {% include 'bundles/datatables-js.html' %}

    <script type="application/javascript"
        src="{% static 'memberaudit/vendor/datatables/plugins/dataTables.rowGroup.min.js' %}"></script>

    {% include 'bundles/moment-js.html' with locale=True %}

    <script type="application/javascript"
        src="{% static 'memberaudit/vendor/datatables/plugins/datetime.js' %}"></script>

    <script type="application/javascript" src="{% static 'js/filterDropDown/filterDropDown.min.js' %}"></script>

    <script type="application/javascript">
        var DATETIME_FORMAT = 'YYYY-MMM-DD HH:mm'

        function title(text) {
            return text.replace(/(^\w|\s\w)/g, m => m.toUpperCase());
        }

        function bool_to_icon(value) {
            return value === true
                ? '<i class="fas fa-check" style="color: green;"></i>'
                : '<i class="fas fa-times" style="color: red;"></i>';
        }

        $(document).ready(function () {
            $("#div_solar_system").load(
                "{% url 'memberaudit:character_solar_system_data' character.pk %}"
            );
            $("#div_location").load(
                "{% url 'memberaudit:character_location_data' character.pk %}"
            );

            $('#tab_assets').DataTable({
                ajax: {
                    url: "{% url 'memberaudit:character_assets_data' character.pk %}",
                    dataSrc: '',
                    cache: false
                },
                columns: [
                    { data: 'location' },
                    { data: 'icon' },
                    { data: 'name' },
                    { 
                        data: 'quantity',                         
                        render: $.fn.dataTable.render.number( ',', '.', 0 )
                    },
                    { data: 'group' },
                    { 
                        data: 'volume',
                        render: $.fn.dataTable.render.number( ',', '.', 2 )
                    },
                    { data: 'actions' },

                    /* hidden columns */
                    { data: 'region' },
                    { data: 'solar_system' },
                    { data: 'is_ship' },
                ],
                order: [[0, "asc"], [2, "asc"], [3, "asc"]],
                rowGroup: {
                    dataSrc: 'location',
                    className: 'table-group'
                },
                columnDefs: [
                    { "orderable": false, "targets": [ 1, 6 ] },
                    { "visible": false, "targets": [ 0, 7, 8, 9 ] }                    
                ],
                filterDropDown: {
                    columns: [                        
                        {
                            idx: 7,
                            title: "Region"
                        },
                        {
                            idx: 8,
                            title: "Solar System"
                        },
                        {
                            idx: 0
                        },
                        {
                            idx: 9,
                            title: "Ship?"
                        },
                    ],
                    autoSize: false,
                    bootstrap: true
                }
            });

            $('#modalCharacterAssetContainer').on('show.bs.modal', function(event) {
                var button = $(event.relatedTarget)
                var ajax_children_url = button.data('ajax_children_url');
                $("#modalCharacterAssetContainerContent").load(ajax_children_url)
            });

            $('#tab_contracts').DataTable({
                ajax: {
                    url: "{% url 'memberaudit:character_contracts_data' character.pk %}",
                    dataSrc: ''
                },
                columns: [
                    { data: 'summary' },
                    { data: 'type' },
                    { data: 'from' },
                    { data: 'to' },
                    { data: 'status' },
                    {
                        data: 'date_issued',
                        render: $.fn.dataTable.render.moment( moment.ISO_8601, DATETIME_FORMAT )
                    },
                    { data: 'time_left' },
                    { data: 'info' },
                    { data: 'actions' },
                ],
                order: [[5, "desc"]],
                filterDropDown: {
                    columns: [
                        {
                            idx: 1
                        },
                        {
                            idx: 4
                        }
                    ],
                    autoSize: false,
                    bootstrap: true
                }
            });

            $('#modalCharacterContract').on('show.bs.modal', function(event) {
                var button = $(event.relatedTarget)
                var ajax_contract_detail = button.data('ajax_contract_detail');
                $("#modalCharacterContractContent").load(ajax_contract_detail)
            });

            $('#tab_doctrines').DataTable({
                ajax: {
                    url: "{% url 'memberaudit:character_doctrines_data' character.pk %}",
                    dataSrc: '',
                    cache: false
                },
                columns: [
                    { data: 'doctrine' },                    
                    { data: 'ship' },
                    { 
                        data: 'can_fly',
                        render: function ( data, type, row, meta ) {
                            if (type === 'display') {
                                return bool_to_icon(data)
                            }
                            else {
                                return data;                                
                            }
                        }
                    },
                    { data: 'insufficient_skills' },
                    { data: 'can_fly_str' }
                ],
                order: [[0, "asc"], [1, "asc"]],
                rowGroup: {
                    dataSrc: 'doctrine',
                    className: 'table-group'
                },
                columnDefs: [
                    { "visible": false, "targets": [0, 4] }
                ],
                filterDropDown: {
                    columns: [
                        {
                            idx: 0
                        },
                        {
                            idx: 4,
                            title: "Can Fly?"
                        }
                    ],
                    autoSize: false,
                    bootstrap: true
                }
            });

            $('#tab_jump_clones').DataTable({
                ajax: {
                    url: "{% url 'memberaudit:character_jump_clones_data' character.pk %}",
                    dataSrc: '',
                    cache: false
                },
                columns: [
                    { data: 'region' },
                    { data: 'solar_system' },
                    { data: 'location' },
                    { data: 'implants' }
                ],
                order: [[0, "asc"], [1, "asc"]]
            });

            var table = $('#tab_mails').DataTable({
                ajax: {
                    url: "{% url 'memberaudit:character_mail_headers_by_label_data' character.pk 1 %}",
                    dataSrc: '',
                    cache: true
                },
                columns: [
                    {
                        data: 'sent',
                        render: $.fn.dataTable.render.moment(moment.ISO_8601, DATETIME_FORMAT)
                    },
                    { data: 'from' },
                    { data: 'to' },
                    { data: 'subject' },
                    { data: 'action' }
                ],
                order: [[0, "desc"]],

                createdRow: function( row, data, dataIndex ) {
                    if ( !data['is_read'] ) {
                        $(row).addClass( 'info' );
                    }							
                }
            });

            /* reload mails when a label is selected*/
            $(".pillMailLabel").on("click", function (event) {						
                var element = $(event.currentTarget);
                var labelId = element.data('label-id');
                var listId = element.data('list-id');
                
                // remove active class from all pills
                // and make current pill active
                $(".pillMailLabel").removeClass("active");
                element.addClass("active");
                                                
                // reload data table for selected label
                if (listId!=undefined) {
                    var url2 = "{% url 'memberaudit:character_mail_headers_by_list_data' character.pk 0 %}".replace("0", listId);
                    table.ajax.url( url2 ).load();	
                }
                else {
                    var url2 = "{% url 'memberaudit:character_mail_headers_by_label_data' character.pk 0 %}".replace("0", labelId);
                    table.ajax.url( url2 ).load();	
                }
                
            }); 

            $('#modalCharacterMail').on('show.bs.modal', function(event) {
                var button = $(event.relatedTarget)
                var ajax_mail_body = button.data('ajax_mail_body');
                var modal = $(this);

                $.get(
                    ajax_mail_body,
                    function(data, status) {
                        modal.find('.modal-title').html(data.subject);
                        modal.find('#mail_from').html(data.from);
                        modal.find('#mail_to').html(data.to);
                        modal.find('#mail_sent').html(data.sent);
                        modal.find('#mail_body').html(data.body);
                });
            })

            $('#tab_skills').DataTable({
                ajax: {
                    url: "{% url 'memberaudit:character_skills_data' character.pk %}",
                    dataSrc: '',
                    cache: false
                },
                columns: [
                    { data: 'group' },
                    { data: 'skill' },
                    { data: 'level' },
                ],
                order: [[0, "asc"], [1, "asc"]],
                rowGroup: {
                    dataSrc: 'group',
                    className: 'table-group'
                },
                columnDefs: [
                    { "visible": false, "targets": [0] }
                ]
            });

            $('#tab_wallet').DataTable({
                ajax: {
                    url: "{% url 'memberaudit:character_wallet_journal_data' character.pk %}",
                    dataSrc: '',
                    cache: false
                },
                columns: [
                    {
                        data: 'date',
                        render: $.fn.dataTable.render.moment( moment.ISO_8601, DATETIME_FORMAT )
                    },
                    { data: 'ref_type' },
                    { data: 'first_party' },
                    { data: 'second_party' },
                    {
                        data: 'amount',
                        render: $.fn.dataTable.render.number( ',', '.', 2 )
                    },
                    {
                        data: 'balance',
                        render: $.fn.dataTable.render.number( ',', '.', 2 )
                    },
                    { data: 'description' },
                ],
                order: [[0, "desc"]],
                filterDropDown: {
                    columns: [
                        {
                            idx: 1
                        },
                        {
                            idx: 2
                        },
                        {
                            idx: 3
                        }
                    ],
                    autoSize: false,
                    bootstrap: true
                }
            });
        });
    </script>
{% endblock extra_javascript %}

{% block extra_css %}
    {% include 'bundles/datatables-css.html' %}
    <link rel="stylesheet" href="{% static 'memberaudit/vendor/datatables/plugins/rowGroup.dataTables.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'memberaudit/character_viewer.css' %}" type="text/css">
{% endblock extra_css %}

{% block extra_script %}
{% endblock extra_script %}
