{% load humanize %}
{% load evelinks %}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Qty</th>
            <th>Type</th>
            <th>Category</th>            
        </tr>
    </thead>
    <tbody>
        {% for item in items|dictsort:"name" %}    
            <tr>
                <td>
                    <img width="32" src="{{ item.eve_type_id|type_icon_url:32 }}"/>&nbsp;{{ item.name }}
                </td>
                <td>
                    {{ item.quantity|intcomma }}
                </td>
                <td>
                    {{ item.group }}
                </td>
                <td>
                    {{ item.category }}
                </td>
            </tr>
        {% endfor%}
    </tbody>
</table>