{% extends 'memberaudit/base.html' %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load evelinks %}

{% block details %}
<div class="panel panel-default">
    <div class="panel-body">

        <div class="rows">

            <div class="col-md-2">
                <img src="{{ auth_character|character_portrait_url:128 }}" />
            </div>

            <div class="col-md-3">
                <dl class="dl-horizontal">
                    <dt>Character</dt>
                    <dd>{{ auth_character.character_name}}</dd>
                    <dt>Corporation</dt>
                    <dd>
                        <a href="{{ auth_character.corporation_name|dotlan_corporation_url }}" target="_blank">
                            {{ auth_character.corporation_name }}
                        </a>
                    </dd>
                    <dt>Alliance</dt>
                    <dd>
                        {% if auth_character.alliance_name %}
                            <a href="{{ auth_character.alliance_name|dotlan_alliance_url }}" target="_blank">
                                {{ auth_character.alliance_name }}
                            </a>
                        {% else %}
                            -
                        {% endif %}
                    </dd>
                    <dt>Faction</dt>
                    <dd>{{ character_details.faction|default_if_none:"-" }}</dd>
                </dl>
            </div>

            <div class="col-md-3">
                <dl class="dl-horizontal">
                    <dt>Born</dt>
                    <dd>{{ character_details.birthday|naturalday|default_if_none:"(no data)" }}</dd>
                    <dt>Skillpoints</dt>
                    <dd>{{ character.skillpoints.total|intword|default_if_none:"(no data)" }}</dd>
                    <dt>Wallet</dt>
                    <dd>{{ character.wallet_balance.total|intword|default_if_none:"(no data)" }}</dd>
                    <dt>Sec. Status</dt>
                    <dd>{{ character_details.security_status|floatformat|default_if_none:"(no data)" }}</dd>
                </dl>
            </div>

            <div class="col-md-3">
                <dl class="dl-horizontal">
                    <dt>System</dt>
                    <dd>
                        <div id="div_location">Loading...</div>
                    </dd>
                    <dt>Location</dt>
                    <dd>{{ auth_character.corporation_name }}</dd>
                    <dt>Race</dt>
                    <dd>{{ character_details.eve_bloodline.eve_race }}</dd>
                    <dt>Achestry</dt>
                    <dd>{{ character_details.eve_bloodline }}</dd>
                </dl>
            </div>

        </div>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation">
                    <a href="#bio" aria-controls="bio" role="tab" data-toggle="tab">Bio</a>
                </li>
                <li role="presentation">
                    <a href="#history" aria-controls="history" role="tab" data-toggle="tab">Corporation History</a>
                </li>
                <li role="presentation" class="disabled">
                    <a href="#clones" aria-controls="clones" role="tab" data-toggle="tab">Clones</a>
                </li>
                <li role="presentation">
                    <a href="#skills" aria-controls="skills" role="tab" data-toggle="tab">Skills</a>
                </li>
                <li role="presentation" class="disabled">
                    <a href="#skillqueue" aria-controls="skillqueue" role="tab" data-toggle="tab">Skillqueue</a>
                </li>
                <li role="presentation">
                    <a href="#mail" aria-controls="mail" role="tab" data-toggle="tab">
                        Mail
                    </a>
                </li>
                <li role="presentation" class="active">
                    <a href="#wallet" aria-controls="wallet" role="tab" data-toggle="tab">Wallet</a>
                </li>
                <li role="presentation" class="disabled"><a href="#contracts" aria-controls="contracts" role="tab"
                        data-toggle="tab">Contracts</a></li>
                <li role="presentation" class="disabled"><a href="#contacts" aria-controls="contacts" role="tab"
                        data-toggle="tab">Contacts</a></li>
                <li role="presentation" class="disabled"><a href="#assets" aria-controls="assets" role="tab"
                        data-toggle="tab">Assets</a></li>
            </ul>
            <br>

            <!-- Tab panes -->
            <div class="tab-content">

                <div role="tabpanel" class="tab-pane" id="bio">
                    {{ character_details.description_plain|default:"-" }}
                </div>

                <div role="tabpanel" class="tab-pane" id="history">
                    <dl class="dl-horizontal">
                        {% for entry in corporation_history %}
                        <dt>{{ entry.corporation_html }}</dt>
                        <dd>{{ entry.start_date|naturalday }} - {{ entry.end_date|naturalday }}</dd>
                        {% endfor %}
                    </dl>
                </div>

                <div role="tabpanel" class="tab-pane" id="clones">TBD</div>

                <div role="tabpanel" class="tab-pane" id="skills">
                    <div class="table-responsive">
                        <table class="table table-striped" id="tab_skills" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>Group</th>
                                    <th>Skill</th>
                                    <th>Level</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="skillqueue">TBD</div>
                
                <div role="tabpanel" class="tab-pane" id="mail">
                    <div class="table-responsive">
                        <table class="table table-striped" id="tab_mails" style="width:100%;">
                            <thead>
                                <tr>                                    
                                    <th>sent</th>
                                    <th>from</th>
                                    <th>to</th>
                                    <th>subject</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <div role="tabpanel" class="tab-pane active" id="wallet">
                    <div class="table-responsive">
                        <table class="table table-striped" id="tab_wallet" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Type</th>
                                    <th>First party</th>
                                    <th>Second party</th>
                                    <th>Amount</th>
                                    <th>Balance</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="contracts">TBD</div>
                <div role="tabpanel" class="tab-pane" id="contacts">TBD</div>
                <div role="tabpanel" class="tab-pane" id="assets">TBD</div>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Mails -->
<div class="modal" id="modalCharacterMail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">
                    &times;
                </span></button>
                <h4 class="modal-title" id="myModalLabel">Loading...</h4>
            </div>
            <div class="modal-body">                
                <dl class="dl-horizontal">
                    <dt>From:</dt>
                    <dd id="mail_from">Loading...</dd>                
                    <dt>To:</dt>
                    <dd id="mail_to">Loading...</dd>
                    <dt>Sent:</dt>
                    <dd id="mail_sent">Loading...</dd>
                    <br>
                    <div id="mail_body">Loading...</div>
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>                
            </div>
        </div>
    </div>
</div>

{% endblock details %}

{% block extra_javascript %}
    {% include 'bundles/datatables-js.html' %}
    
    <script type="application/javascript"
        src="https://cdn.datatables.net/rowgroup/1.1.2/js/dataTables.rowGroup.min.js"></script>
    
    <script type="application/javascript">        
        $(document).ready(function () {
            $("#div_location").load(
                "{% url 'memberaudit:character_location_data' character.pk %}"
            );

             $('#tab_mails').DataTable({
                ajax: {
                    url: "{% url 'memberaudit:character_mail_headers_data' character.pk %}",
                    dataSrc: '',
                    cache: false
                },
                columns: [                    
                    { data: 'sent' },
                    { data: 'from' },
                    { data: 'to' },
                    { data: 'subject' },
                    { data: 'action' }
                ],
                order: [[0, "desc"]],
            });

            $('#modalCharacterMail').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget)
                var character_pk = button.data('character_pk')
                var mail_pk = button.data('mail_pk')
                var modal = $(this)                
                $.get(
                    "{% url 'memberaudit:character_mail_data' 1 2 %}"
                    .replace("/1", "/" + character_pk) 
                    .replace("/2", "/" + mail_pk), 
                    function(data, status){
                        modal.find('.modal-title').html(data.subject)
                        modal.find('#mail_from').html(data.from)
                        modal.find('#mail_to').html(data.to)
                        modal.find('#mail_sent').html(data.sent)
                        modal.find('#mail_body').html(data.body)
                });                
            })

            $('#tab_skills').DataTable({
                ajax: {
                    url: "{% url 'memberaudit:character_skills_data' character.pk %}",
                    dataSrc: '',
                    cache: false
                },
                columns: [
                    { data: 'group' },
                    { data: 'skill' },
                    { data: 'level' },
                ],
                order: [[0, "asc"], [1, "asc"]],
                rowGroup: {
                    dataSrc: 'group',
                    className: 'table-group'
                },
                columnDefs: [
                    { "visible": false, "targets": [0] }
                ],    
                createdRow: function( row, data, dataIndex ) 
                {
                    if (data[1]) {
                        $(row).addClass('danger');
                    }                
                }  
            });

            $('#tab_wallet').DataTable({
                ajax: {
                    url: "{% url 'memberaudit:character_wallet_journal_data' character.pk %}",
                    dataSrc: '',
                    cache: false
                },
                columns: [
                    { data: 'date' },
                    { data: 'ref_type' },
                    { data: 'first_party' },
                    { data: 'second_party' },
                    { data: 'amount' },
                    { data: 'balance' },
                    { data: 'description' },
                ],
                order: [[0, "desc"]],
            });
        });
    </script>
{% endblock extra_javascript %}

{% block extra_css %}
    {% include 'bundles/datatables-css.html' %}
    <link rel="stylesheet" href="https://cdn.datatables.net/rowgroup/1.1.2/css/rowGroup.bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="{% static 'memberaudit/character_main.css' %}" type="text/css">
{% endblock extra_css %}

{% block extra_script %}
{% endblock extra_script %}