{% extends 'memberaudit/base.html' %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load evelinks %}

{% block details %}

<div class="panel panel-default">
    <div class="panel-heading" style="display:flex;">
        <h3 class="panel-title">{% trans 'Characters' %}</h3>
    </div>
    <div class="panel-body">
        {% if has_registered_chars %}
        <table class="table table-striped" id="tab_standingssync">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Organization</th>
                    <th>Location</th>
                    <th>Wallet</th>                    
                    <th>Skillpoints</th>
                    <th>Unread Mails</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for auth_character in auth_characters %}
                    <tr>
                        <td class="text-center">
                            <img class="ra-avatar img-circle" src="{{ auth_character.eve_character.portrait_url }}">                            
                        </td>
                        <td>
                            {% if auth_character.character %}
                                <a href="{% url 'memberaudit:character_main' auth_character.character.pk %}">
                                    {{ auth_character.eve_character.character_name }}
                                </a>
                            {% else %}
                                {{ auth_character.eve_character.character_name }}<br>                                
                                <span class="text-danger">Not registered</span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ auth_character.eve_character.corporation_name|dotlan_corporation_url }}" target="_blank">{{ auth_character.eve_character.corporation_name }}</a><br>
                            {{ auth_character.eve_character.alliance_name|default_if_none:"-" }}
                        </td>                        
                        <td>
                            {% if auth_character.character %}
                                <div id="location_{{ auth_character.character.pk }}">
                                    Loading...
                                </div>                            
                            {% endif %}
                        </td>
                        <td>
                            {% if auth_character.character %}
                                {{ auth_character.character.wallet_balance.total|intword|default_if_none:"(no data)" }}
                            {% endif %}
                        </td>
                        <td>
                            {% if auth_character.character %}
                                {{ auth_character.character.skillpoints.total|intword|default_if_none:"(no data)" }}
                            {% endif %}
                        </td>
                        <td>                            
                            {% if auth_character.character %}
                                {{ auth_character.character.unread_mail_count.total|intword|default_if_none:"(no data)" }}
                            {% endif %}
                        </td>
                        <td>
                            {% if auth_character.character %}                                
                                <a class="btn btn-danger" href="{% url 'memberaudit:character_main' auth_character.character.pk %}"
                                    role="button" title="Remove this auth_character from the launcher">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td><strong>Totals:</strong></td>                    
                    <td></td>
                    <td></td>                    
                    <td>
                        <strong>
                            {{ wallet_balance_sum|intword|default_if_none:"(no data)" }}
                        </strong>
                    </td>
                    <td></td>                    
                    <td>
                        <strong>
                            {{ unread_mails_sum|intword|default_if_none:"(no data)" }}
                        </strong>
                    </td>
                </tr>
            </tfoot>
        </table>
        {% else %}
        <p>None</p>
        {% endif %}
    </div>
</div>

<a class="btn btn-primary" href="{% url 'memberaudit:add_character' %}">
    Register character
</a>

{% endblock details %}

{% block extra_javascript %}
<script>
    $(document).ready(function () {
        {% for auth_character in auth_characters %}
        {% if auth_character.character %}
        $("#location_" + {{ auth_character.character.pk }}).load(
            "{% url 'memberaudit:character_location_data' auth_character.character.pk %}"
        );
    {% endif %}
    {% endfor %}
        });
</script>
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_script %}
{% endblock %}