{% extends 'memberaudit/base.html' %}
{% load i18n %}
{% load humanize %}
{% load static %}


{% block details %}
    
         
    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#compliance" aria-controls="compliance" role="tab" data-toggle="tab">
                    User Compliance
                </a>
            </li>
            <li role="presentation">
                <a href="#doctrines" aria-controls="doctrines" role="tab" data-toggle="tab">
                    Doctrines
                </a>
            </li>
            <li role="presentation" class="disabled">
                <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
                    Dummy 2
                </a>
            </li>
            <li role="presentation" class="disabled">
                <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">
                    Dummy 3
                </a>
            </li>
        </ul>
        
        <div class="panel panel-default panel-tabs">
            <div class="panel-body">

                <!-- Tab panes -->
                <div class="tab-content">

                    
                    <!-- user compliance -->
                    <div role="tabpanel" class="tab-pane active" id="compliance">                        
                        <div class="table-responsive">
                            <table class="table table-striped" id="tab_compliance">
                                <thead>
                                    <tr>                                        
                                        <th>Main</th>                        
                                        <th>Organization</th>
                                        <th>Total Chars</th>
                                        <th>Unregistered Chars</th>
                                        <th>Compliant?</th>                            
                                    </tr>
                                </thead>
                                <tbody>                   
                                </tbody>                
                            </table>
                        </div>
                    </div>
                    
                    <!-- user compliance -->
                    <div role="tabpanel" class="tab-pane" id="doctrines">                        
                        <div class="table-responsive">
                            <table class="table table-striped" id="tab_doctrines" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>Doctrine</th>
                                        <th>Main</th>
                                        <th>Organization</th>
                                        <th>Character</th>
                                        <th>Can Fly</th>
                                    </tr>
                                </thead>
                                <tbody>                   
                                </tbody>                
                            </table>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="messages">...</div>
                    <div role="tabpanel" class="tab-pane" id="settings">...</div>
                </div>
            </div>
            
        </div>
    </div>        
    
{% endblock details %}

{% block extra_javascript %}
    {% include 'bundles/datatables-js.html' %}    
    
    <script type="application/javascript"
        src="{% static 'memberaudit/vendor/datatables/plugins/dataTables.rowGroup.min.js' %}"></script>

    <script type="application/javascript" src="{% static 'js/filterDropDown/filterDropDown.min.js' %}"></script>
    
    <script>
        $(document).ready(function() {
            
            $('#tab_compliance').DataTable({            
                ajax: {
                    url: '{% url 'memberaudit:compliance_report_data' %}',
                    dataSrc: '',
                    cache: false
                },
                columns: [                    
                    { 
                        data: 'main',
                        render: {
                            _: 'display',
                            sort: 'sort'
                        }
                    },
                    { 
                        data: 'organization',
                        render: {
                            _: 'display',
                            sort: 'sort'
                        }
                    },
                    { data: 'total_chars' },
                    { data: 'unregistered_chars' },
                    { data: 'compliance_str' },
                    /* hidden columns */
                    { data: 'alliance_name' },
                    { data: 'corporation_name' },                    
                ],
                columnDefs: [          
                    { "visible": false, "targets": [ 5, 6 ] },
                ],
                order: [ [ 0, "asc" ] ],
                filterDropDown: {										
                    columns: [                        
                        {
                            idx: 5,
                            title: "Alliance"
                        },
                        {
                            idx: 6,
                            title: "Corporation"
                        },
                        {
                            idx: 2
                        },
                        {
                            idx: 3
                        },
                        {
                            idx: 4
                        }
                    ],
                    bootstrap: true
                },
                createdRow: function( row, data, dataIndex ) 
                {
                    if (!data['is_compliant'])
                    {
                        $(row).addClass('danger');
                    }                
                }            
            });

            $('#tab_doctrines').DataTable({
                ajax: {
                    url: "{% url 'memberaudit:doctrines_report_data' %}",
                    dataSrc: '',
                    cache: false
                },
                columns: [
                    { data: 'doctrine' },                    
                    { data: 'main_html' },
                    { data: 'organization_html' },
                    { data: 'character_html' },                    
                    { data: 'can_fly' },
                    
                    /* hidden columns */                    
                    { data: 'alliance' },
                    { data: 'corporation' },
                    { data: 'can_fly_str' },                    
                ],
                order: [[0, "asc"], [1, "asc"], [3, "asc"]],
                rowGroup: {
                    dataSrc: 'doctrine',
                    className: 'table-group'
                },
                columnDefs: [
                    { "visible": false, "targets": [0, 5, 6, 7] }
                ],
                filterDropDown: {
                    columns: [
                        {
                            idx: 0
                        },
                        {
                            idx: 5,
                            title: "Alliance"
                        },
                        {
                            idx: 6,
                            title: "Corporation"
                        },
                        {
                            idx: 7,
                            title: "Can Fly?"
                        }
                    ],
                    autoSize: false,
                    bootstrap: true
                }
            });
            
        });
    </script>
{% endblock %}

{% block extra_css %}
    {% include 'bundles/datatables-css.html' %}
    <link rel="stylesheet" href="{% static 'memberaudit/css/global.css' %}" type="text/css">
{% endblock %}

{% block extra_script %}
    
{% endblock %}
