{% load i18n %}

<!-- Jump Clones -->
<div role="tabpanel" class="tab-pane" id="clones">
    <div class="table-responsive">
        <table class="table table-striped" id="tab_jump_clones" style="width:100%;">
            <thead>
                <tr>
                    <th>Region</th>
                    <th>System</th>
                    <th>Location</th>
                    <th>Implants</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
