{% load i18n %}

<!-- Contacts -->
<div role="tabpanel" class="tab-pane" id="contacts">
    <div class="table-responsive">
        <table class="table table-striped" id="tab_contacts" style="width:100%;">
            <thead>
                <tr>
                    <th>Standing</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Standing Value</th>
                    <th>Watched?</th>
                    <th>Blocked?</th>                    
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
