{% load i18n %}

<!-- Doctrines -->
<div role="tabpanel" class="tab-pane" id="doctrines">
    <div class="table-responsive">
        <table class="table table-striped" id="tab_doctrines" style="width:100%;">
            <thead>
                <tr>                    
                    <th>Doctrine</th>                    
                    <th>Ship</th>
                    <th>Can Fly?</th>
                    <th>Insufficient Skills</th>                    
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
