{% extends 'memberaudit/analysis/base.html' %}
{% load i18n %}
{% load humanize %}
{% load static %}


{% block details %}
    
    <div class="panel panel-default">   
        <div class="panel-heading">
            <h3 class="panel-title">Characters</h3>
        </div>
        <div class="panel-body">        
            <div class="table-responsive">
                <table class="table table-striped" id="tab_characters">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Character</th>                        
                            <th>Corporation</th>
                            <th>Alliance</th>
                            <th>Main</th>
                            <th>State</th>
                            <th></th>                            
                        </tr>
                    </thead>
                    <tbody>                   
                    </tbody>                
                </table>
            </div>
        </div>
    </div>        
    
{% endblock details %}

{% block extra_javascript %}
    {% include 'bundles/datatables-js.html' %}    
    
    <!--load JS for filterDropDown plugin -->
    <script type="text/javascript" src="{% static 'js/filterDropDown/filterDropDown.min.js' %}">
    </script>
    
    <script>
        $(document).ready(function() {
            $('#tab_characters').DataTable({            
                ajax: {
                    url: '{% url 'memberaudit:character_finder_data' %}',
                    dataSrc: '',
                    cache: false
                },

                columns: [
                    { data: 'portrait' },
                    { data: 'character' },
                    { data: 'corporation' },                
                    { data: 'alliance' },
                    { data: 'main' },
                    { data: 'state' },
                    { data: 'actions' },
                ],

                columnDefs: [														
                    { "orderable": false, "targets": [ 0 ] },                
                ],

                order: [ [ 1, "asc" ] ],

                filterDropDown: {										
                    columns: [
                        {
                            idx: 2
                        },
                        {
                            idx: 3
                        },
                        {
                            idx: 4
                        },
                        {
                            idx: 5
                        },
                    ],
                    bootstrap: true
                }
            });       
        });
    </script>
{% endblock %}

{% block extra_css %}
    {% include 'bundles/datatables-css.html' %}
    <link href="{% static 'memberaudit/contracts.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block extra_script %}
    
{% endblock %}
